<div class="alert alert-danger" hidden="hidden" id="danger-alert"></div>
<div class="alert alert-success" hidden="hidden" id="success-alert"></div>
<script src="/vendor/custom/js/alerts.js"></script>
