<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      Web Dev Tutorial
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-links"
      aria-controls="navbar-links"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-links">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}
          <li class="nav-item"><a href="/app" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        {{else}}
          <li class="nav-item"><a href="/" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="/signup" class="nav-link">Signup</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
